input[id=login],  textarea {
    width: 80%;
    font-size: 100%;
    transition: all 2s linear;
}

.form-control{
    &-1,&--find{
        outline: none;
        padding: 10px;
        background-color: rgba(18, 17, 17, 0.8);
        color: #cccccc;
        border: 1px solid rgba(80, 71, 71, 0.8);
        margin-left: 30px;
        border-radius: 5px;
    }
      
    &--find{
        margin-top:-30px;
        float:right;

    }
}
.login{
    &__layout{
        &{
            background-image:  linear-gradient(135deg,rgba(2,33,64,0.8) 55%,rgba(45,95,93,0.8)) ,url('./../../../img/background3.jpeg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            background-attachment: fixed;
        }
    }
} 
.authfy-panel-right{
    background-color: rgba(0, 0, 0, .4);
    margin:25%;
}

.email{
    margin-top: 20px;
}
.password{
   
}
.auth-title{
    color: white
}
.authfy-login{
    margin-top:50px
}